APP_SPS_OSB/AUT_BITACORA/BITACORA/Resources/WSDL/AUTBitacoraService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="AUT_BitacoraServices_V1"
                  targetNamespace="http://xmlns.spsolutions.com.mx/aut/BitacoraServices/v1/"
                  xmlns:tns="http://xmlns.spsolutions.com.mx/aut/BitacoraServices/v1/"
                  xmlns:inp1="http://xmlns.spsolutions.com.mx/aut/BitacoraServices/v1/"
                  xmlns:inp2="http://spsolutions.com.mx/core/commonTypes/v1/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.spsolutions.com.mx/aut/BitacoraServices/v1/"
                  schemaLocation="../XSD/AUTBitacoraService.xsd"/>
      <xsd:import namespace="http://spsolutions.com.mx/core/commonTypes/v1/"
                  schemaLocation="../XSD/commonTypes_v1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findBitacoraRequestMessage">
    <wsdl:part name="part1" element="inp1:findBitacoraRequest"/>
  </wsdl:message>
  <wsdl:message name="findBitacoraResponseMessage">
    <wsdl:part name="part1" element="inp1:findBitacoraResponse"/>
  </wsdl:message>
  <wsdl:message name="createBitacoraRequestMessage">
    <wsdl:part name="part1" element="inp1:createBitacoraRequest"/>
  </wsdl:message>
  <wsdl:message name="createBitacoraResponseMessage">
    <wsdl:part name="part1" element="inp1:createBitacoraResponse"/>
  </wsdl:message>
  <wsdl:message name="changeBitacoraRequestMessage">
    <wsdl:part name="part1" element="inp1:changeBitacoraRequest"/>
  </wsdl:message>
  <wsdl:message name="changeBitacoraResponseMessage">
    <wsdl:part name="part1" element="inp1:changeBitacoraResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteBitacoraRequestMessage">
    <wsdl:part name="part1" element="inp1:deleteBitacoraRequest"/>
  </wsdl:message>
  <wsdl:message name="deleteBitacoraResponseMessage">
    <wsdl:part name="part1" element="inp1:deleteBitacoraResponse"/>
  </wsdl:message>
  <wsdl:message name="headerMessage">
    <wsdl:part name="head" element="inp2:header"/>
  </wsdl:message>
  <wsdl:portType name="BitacoraServicePort">
    <wsdl:operation name="findByNameBitacora">
      <wsdl:input message="tns:findBitacoraRequestMessage"/>
      <wsdl:output message="tns:findBitacoraResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="createBitacora">
      <wsdl:input message="tns:createBitacoraRequestMessage"/>
      <wsdl:output message="tns:createBitacoraResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="changeBitacora">
      <wsdl:input message="tns:changeBitacoraRequestMessage"/>
      <wsdl:output message="tns:changeBitacoraResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="deleteBitacora">
      <wsdl:input message="tns:deleteBitacoraRequestMessage"/>
      <wsdl:output message="tns:deleteBitacoraResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BitacoraServiceBind" type="tns:BitacoraServicePort">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>   
    <wsdl:operation name="findByNameBitacora">
      <soap12:operation style="document"
                        soapAction="http://xmlns.spsolutions.com.mx/aut/BitacoraServices/v1//findByNameBitacora"/>
      <wsdl:input>
        <soap12:body use="literal" parts="part1"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="part1"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBitacora">
      <soap12:operation style="document"
                        soapAction="http://xmlns.spsolutions.com.mx/aut/BitacoraServices/v1//createBitacora"/>
      <wsdl:input>
        <soap12:body use="literal" parts="part1"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="part1"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeBitacora">
      <soap12:operation style="document"
                        soapAction="http://xmlns.spsolutions.com.mx/aut/BitacoraServices/v1//changeBitacora"/>
      <wsdl:input>
        <soap12:body use="literal" parts="part1"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="part1"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBitacora">
      <soap12:operation style="document"
                        soapAction="http://xmlns.spsolutions.com.mx/aut/BitacoraServices/v1//deleteBitacora"/>
      <wsdl:input>
        <soap12:body use="literal" parts="part1"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="part1"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BitacoraService">
    <wsdl:port name="BitacoraServicePort" binding="tns:BitacoraServiceBind">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>